*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column ;
}
.header{
    margin: 14px;
    text-align: center;
}
.header button{
    position: absolute;
    top: 30px;
    left: 10px;
}

.wrapper{
    padding-top: 24px;
    margin: 14px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 15px 15px;
}
.box1,.box2{
    border: 2px solid rgb(179, 177, 177);
    padding: 10px;
    position: relative;
}
a{
   position: absolute;
   bottom: 10px;
}
.box1 h5{
    color: rgb(93, 93, 247);
}
.box2 h5{
    color: green;
}
.box1 h6,.box2 h6{
    color: gray;
}

@media only screen and (max-width:600px){
    .wrapper{
        grid-template-columns: 1fr;
    }
}